<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8"/>
    <title>CryptoToken Converter</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <style>
        body{
            background: #111a3c;
        }
        #converter-app .main-box {
            min-height: 600px;
            margin-top: 20px;
            padding: 3em;
        }
        #logo {
            text-align: center;
            -webkit-filter: invert(1);
            filter: invert(1);
        }
        #privexfooter {
            margin-top: 2rem;
            margin-bottom: 2rem;
            padding: 1rem 1rem 3rem;
        }
    </style>
</head>
<body>

<!-- Your Semantic UI Code -->
<div class="ui container" >

    <div id="converter-app">
        <router-view></router-view>
    </div>

    <div class="ui raised segment" id="privexfooter">
        <h3>This service is running <a href="https://github.com/Privex/cryptotoken-converter-ui" target="_blank">CryptoToken Converter UI</a>,
            a web interface for the <a href="https://github.com/Privex/cryptotoken-converter" target="_blank">CryptoToken Converter API</a>,
        both of which are open source applications created by <a href="https://www.privex.io/" target="_blank">Privex Inc.</a></h3>
        <h3>Privex Inc. DOES NOT operate this service, and is not liable for any damages caused by using it.
        If you have any problems with this service, please contact the owner of this domain.</h3>
        <a href="https://www.privex.io/" target="_blank">
            <img src="https://www.privex.io/static/assets/svg/privex_ctc_api.svg" alt="Developed by Privex"/>
        </a>
    </div>

</div>
<script type="text/x-template" id="convert-view-template">
    <div class="ui raised segment main-box">
        <h1>Converting from {{ from }} to {{ to }}</h1>
        <p><strong>Destination address/account:</strong> {{ destination }}</p>
        <div class="ui message error" v-if="error">
            <div class="header">
                Something went wrong loading your deposit details...
            </div>
            <p>{{ error }}</p>
        </div>
        <div class="ui active inverted dimmer" v-if="loading">
            <div class="ui text loader">Getting deposit information...</div>
        </div>
        <div v-if="convdata">
            <p><strong>Conversion Rate:</strong> {{ convdata.ex_rate }} {{ to }} per {{ from }}</p>
            <div v-if="convdata.account">
                <h3>Please send any amount of {{ from }} to the following account, using the displayed memo:</h3>
                <h4>Our Receiving Account:</h4>
                <div class="ui message">{{ convdata.account }}</div>
                <h4>Memo (message) that must be used:</h4>
                <div class="ui message">{{ convdata.memo }}</div>
            </div>
            <div v-if="convdata.address">
                <h3>Please send any amount of {{ from }} to the following address:</h3>
                <div class="ui message">{{ convdata.address }}</div>
            </div>
            <br/><hr/><br/>
            <p><strong>{{ from }}</strong> sent to the above crypto address, or account + memo, will be converted into 
                <strong>{{ to }}</strong> and sent to your address/account: <strong>{{ destination }}</strong>
            </p>

        </div>
    </div>
</script>
<script type="text/x-template" id="select-coin-template">
    <div class="ui raised segment">
        <div class="ui form">
            <h1>CryptoToken Converter</h1>
            <p>This service allows you to quickly convert between two different cryptocurrencies or tokens.</p>
            <p>To use it, simply select the coin you want to convert from, and the coin you want to convert it into.
                After selecting a "from coin", the "to coin" list will refresh and show the coins you can convert 
                into, based on your "from coin" selection.</p>
            <p>Once you've selected both a "from" and "to" coin, you'll be able to enter a destination address or 
                account (where do we send your converted coins to?).</p>
            <p>If your destination coin ("to coin") uses crypto addresses (e.g. Bitcoin), enter a crypto address. 
                If your destination coin uses account names (e.g. SteemEngine tokens), enter an account name.</p>
            <h3>Select two coins to convert between</h3>
            <h4>After selecting a "from coin", the "to coin" options will update.</h4>
            <div class="field">
                <label>From Coin</label>
                <select class="dropdown" v-model="select_form.from_coin" id="from-coin-list">
                    <option :key="'nocoinselected'" :value="'nocoinselected'">--- Please Select a Coin ---</option>
                    <option :key="'from_' + coin.symbol" v-bind:value="coin.symbol" v-for="coin of from_coins">
                        {{ coin.display_name }} ({{ coin.symbol }})
                    </option>
                </select>
            </div>
            <div class="field">
                <label>To Coin</label>
                <select class="dropdown" v-model="select_form.to_coin" id="to-coin-list">
                    <option :key="'nocoinselected'" :value="'nocoinselected'">--- Please Select a Coin ---</option>
                    <option :key="'to_' + coin.symbol" :value="coin.symbol" v-for="coin of to_coins">
                        {{ coin.display_name }} ({{ coin.symbol }})
                    </option>
                </select>
            </div>
            <div class="field" v-if="select_form.to_coin != 'nocoinselected'">
                <label>Where should we send your <strong>{{ get_coin_name(select_form.to_coin) }}</strong>?</label>
                <input type="text" v-model="select_form.destination" placeholder="Destination address (or account name if the network uses accounts, such as SteemEngine)" />
            </div>
            <button v-if="select_form.to_coin != 'nocoinselected'" v-on:click="convert" class="ui button green">
                Start conversion from {{ select_form.from_coin }} to {{ select_form.to_coin }}
            </button>
        </div>
    </div>
</script>
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
<script src="assets/js/coin_api.js"></script>
<script src="assets/js/ConvertView.js"></script>
<script src="assets/js/SelectCoin.js"></script>
<script src="assets/js/app.js"></script>

</body>
</html>